.title{background:#188eee;}
.title span{
    display:inline-block;
    color:#fff;
}
.glyphicon-menu-left{
    font-size:3rem;
    line-height:50px;
    float:left;
}
h1.category{
    position:fixed;
    width:100%;
    top:0;
    z-index:100;
    color:#fff;
    background-color:#66d6a6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:2rem;
    line-height:4rem;
    font-weight:100;
    margin:0;
}
h1.category .glyphicon{
    font-size:1rem;
    line-height:3rem;
    font-weight:lighter;
}
h1.category a{
    display:inline-block;
    position:absolute;
    z-index:200;
    //top:.1rem;
    left:.5rem;
    width:4rem;
    height:4rem;
    padding-left:1rem;
    padding-right:1rem;
}
h1.category a img{
    width:1rem;
    height:2rem;
    position:absolute;
    top:1rem;
    left:1rem;
}
p.category{
    padding:0;
    margin:0;
}
div.allcategory{
    position:fixed;
    width:100%;
    height:100%;
    display:none;
    background:rgba(0,0,0,.5);
    top:4rem;
    z-index:100;
    padding-left:1.5rem;
    padding-right:1.5rem;
}
div.round{
    width:5rem;
    height:5rem;
    border-radius:1.5rem;
    color:#fff;
    overflow:hidden;
}
div.round img{width:100%;height:100%;}
div.categorylist{
    background:#fff;
}
div.categorylist .col-xs-4{    
    padding-top:15px;
}
.secondicon{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
div.categorylist a{color:#666;}
div.categorylist a:focus{
    color:#666;
    text-decoration:none;
}
div.categorylist h3{font-size:1.6rem;margin-top:1rem;}
div.categorylist div.product{background:#1cbcd6;}
div.categorylist div.operating{background:#ffad00;}
div.categorylist div.market{background:#e96869;}
div.categorylist div.worldview{background:#66c725;}
div.categorylist div.daniel{background:#5489eb;}
div.categorylist div.brand{background:#da58e6;}
div.firstcate,div.secondcate{border-bottom:1px solid #eee;}
div.thirdcate .secondicon{border-left:1px solid #ddd;border-right:0px solid #ddd;}
div.teacherintro{
    padding-bottom:1rem;
    border-bottom:16px solid #eee;
    margin-bottom:.5rem;
    padding-top:.5rem;
    min-height:8.5rem;
    overflow:hidden;
    margin-left:-15px;
    margin-right:-15px;
    padding-left:15px;
    padding-right:15px;
    position:relative;
}
div.teacherintro .introduce{
    padding-left:8.5rem;
    top:0;
    left:0;
}

div.teacherintro > div.teacheravatar{
    position:absolute;
    top:0;
    left:15px;
    padding-left:15px;
}
div.teacherintro:after{clear:both;}
div.teacherintro img{
    width:6rem;
    height:6rem;
    border-radius:6rem;
    float:left;
}
div.teacherintro .introduce p{
    padding-top:0;
    padding-bottom:.3rem;
    margin-top:0;
    margin-bottom:0;
    font-size:1.3rem;
    line-height:2.2rem;
}
div.teacherintro .glyphicon{color:#999;}
div.teacherintro .open{font-size:1.3rem;color:#999;}
.courselist ul,.courselist li{
    list-style:none;
    padding:0;
    margin:0;
    background-color:white;
}
.courselist li.course-list-item{
    width:100%;
    display:inline-block;
    overflow:hidden;
    padding:15px 10px;
    border-bottom:1px solid #eee;
}
.courselist li.course-list-item:last-child{border-bottom:0px solid #eee;}
.item-avatar{
    width:115px;
    height:84px;
    float:left;
}
.item-avatar img{
    height:100%;
    width:100%;
}
.item-content{
    height:84px;
    overflow:hidden;
    padding-left:10px;
    position:relative;
}
.item-title{
    font-size:1.5rem;
    font-weight:normal;
    margin:0;
    padding:0;
    padding-bottom:8px;
}
.item-title a{
    color:#000;
    text-decoration:none;
}
.item-title a:focus,.item-title a:active{
    text-decoration:none;
    color:#000;
}
.item-intro{
    font-size:1.2rem;
    line-height:18px;
    font-weight:lighter;
    color:#666;
}
.item-teacher{
    display:block;
    width:95%;
    color:#2ab888;
    line-height:1.3rem;
    position:absolute;
    bottom:0;
    white-space:nowrap;
}
.item-time{
    display:block;
    width:95%;
    color:#888888;
    line-height:1.6rem;
    position:absolute;
    bottom:16px;
    white-space:nowrap;
}
.item-teacher .menter{
    display:inline-block;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.item-teacher span.glyphicon{
    color:#2ab888;
    font-size:1.1rem;
    line-height:1.1rem;
}
.item-teacher a{
    font-size:1.1rem;
    line-height:1.1rem;
    color:#2ab888;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.clearfix:after,.clearfix:before{
    content:"";
    display:table;
}