<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>点豆成兵&mdash;为进取心而生，专注职场“传、帮、带”</title>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?935db218ae33abd43b809d2c2d5e13f3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
	<style>
		body{padding:0;margin:0;min-width: 1100px;}
		.main {    
			    width: 300px;
			    top: 50%;
			    margin-top: -300px;
    	}
    	.logo {
		    text-align: center;
		    margin-bottom: 0px;
		}
		.wrap {
		    height: 420px;
		    background-color: #fff;
		    border-radius: 10px;
		    padding: 5px;
		}
		.qrcode {
		    padding: 5px 0;
		}
		.qrcode {
		    text-align: center;
		    color: #555555;
		}
	</style>

</head>
<body>
	<div style="background-image: url(/img/webimg/top-bgc.png);height:540px;width:100%;">
		<div><br/></div>
		<div id="main1_page">
			<div style="height:400px;width:300px;float:left;margin-top:40px;">
				<div style="text-align:center;background-color: #fff;height:375px;width:250px;border-radius: 8px;">
			        <img src="/img/webimg/logo.png" style="height:75px;width:180px;margin-top:10px;">
			        <img src="/img/webimg/qrcode.jpg" style="height:220px;width:220px;">
			        <p>扫描二维码登录点豆课堂</p>
			    </div>
		    </div>
		    <div style="width:375px;height:457px;float:left;">
		        <img src="/img/webimg/pone.png">
		    </div>
	    </div>
    </div>
    <div style="height:400px;width:100%;margin-top:50px;">
		<div style="float:left;margin-left:200px;">
			<img src="/img/webimg/left-img.png" style="width:350px;height:350px;">
		</div>
		<div style="float:left;margin-left:200px;margin-top:80px;">
			<p style="font-size:30px;color:#EE7053;">个人公关</p>
	      	<p style="font-size:15px;">来展示您的知识、技能和经验</p>
	      	<p style="font-size:15px;">为自己赢得赞扬和欢呼</p>
	      	<p style="font-size:15px;">让更多人认识和了解您</p>
      	</div>
    </div>
    <div style="height:440px;width:100%;background-color: #F5F5F5;margin-bottom: 20px;">
		<div style="float:left;margin-left:250px;margin-top: 80px;">
			<p style="font-size:30px;color:#EE7053;">职场传帮带</p>
	      	<p style="font-size:15px;">向有经验的人学习自己短板的地方</p>
	      	<p style="font-size:15px;">为自己的职场发展助力</p>
	      	<p style="font-size:15px;">让自己变的更优秀</p>
      	</div>
      	<div style="float:left;margin-left:200px;">
			<img src="/img/webimg/right-img.png" style="width:350px;height:420px;">
		</div>
    </div>
</body>
<script>
	document.getElementById("main1_page").style.marginLeft = document.body.clientWidth /2 - 337 + "px";
	window.onresize = function(){
	    document.getElementById("main1_page").style.marginLeft = document.body.clientWidth /2 - 337 + "px";
	}
</script>
</html>